@model IEnumerable<MYOB.PayRoll.Entities.TaxRate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrossIncomeBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrossIncomeTop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxRate1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrossIncomeBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrossIncomeTop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxRate1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
